<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
</head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>This is the homepage</h1>
    <main>
      <section class="products-list">
        <% for (let i=0;i<products.length;i++){%>
    <article class="product">
      <p class="product-name">Name: <%= products[i].name %></p>
      <span class="product-price">Price: <%= products[i].price %></span>
      <img class="product-image" src="<%= products[i].imageUrl %>" alt="<%= products[i].name %>"
       onerror="this.src='/images/image-not-found.png'" />
      <span class="product-description">Description: <%= products[i].description %></span>
      <span class="product-category">Category: <%= products[i].category %></span>
      <a class="product-category" href="/product-details/<%= products[i]._id %>">See details</details></a>
    </article>
        <% } %>
      </section>
    </main>
  </body>
</html>
